body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  // color: #FFF;
  color: #333;
}

a {
  text-decoration: none;
  color: #156daf;
}

img {
  max-width: 100%;
}

.content {
  padding: 1rem;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  a {
    color: #333;
  }
  > * {
    flex: 1 1 100%;
  }
}

.header__title {
  padding: 16px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  > * {
    padding: 0 12px;
  }
}

time {
  font-size: 14px;
  color: #666;
}

.blog-items {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  > a {
    display: block;
  }
  border-bottom: solid 1px #FFF;
  &:last-child {
    border-bottom: none;
  }
  &__title {
    font-size: 24px;
  }
}

article {
  h3 {
    font-size: 24px;
  }
}

.content__about {
  img {
    width: 120px;
  }
}
